<h1>10 closest electric / propane stations within 6 miles sorted by distance</h1>
<% @fuel_stations.each do |station|%>
  <h3> Name: <%= station.name %></h3>
  Address: <%= station.address %> <br>
  Fuel Types: <%= station.fuel_type %> <br>
  Distance: <%= station.distance %> <br>
  Access Times: <%= station.access_times %> <br>
<% end %>
